# Compiled object files
*.o

# Executable files
*.out
*.exe

# Libraries
*.so
*.a

# Debug files
*.log
*.tmp

# Dependency files
*.d

# Build directories
/objects/

# Editor/IDE specific files
.vscode/
